@import "tailwindcss";

body {
  background-color: #1f1f1f;
  color: white;
}

@layer base {
  button {
    @apply rounded-4xl bg-purple-600 py-2 px-4  hover:bg-purple-700 active:bg-purple-800 cursor-pointer;
  }
}

@layer components {
  .panel {
    scrollbar-gutter: stable;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  .checkbox {
    @apply text-3xl hover:text-purple-300 active:text-purple-400 cursor-pointer;
  }

  .todo-input-item {
    @apply flex items-center p-4;
  }

  .input-area {
    @apply bg-slate-800 p-2 rounded-sm outline-1 focus:outline-2 focus:outline-purple-400 transition-shadow w-full;
  }

  .input-dropdown {
    @apply bg-slate-800 p-2 rounded-sm outline-1 focus:outline-2 focus:outline-purple-400 transition-shadow;
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}
